<div class="footer-content">
  <div class="footer-links">
    <a href="/privacy.html">Privacy Policy</a>
  </div>
  <p>© UT.ac — All tools are free | Total Visitors: <span id="dynamic-visitor-count">Loading...</span></p>
</div>

    <!-- Google tracking code -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-3565X5KNFD"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-3565X5KNFD');
    </script>
